@using SmartTeleHealth.Models

<!-- Notification Modal -->
<div class="modal fade" id="notificationsModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title">
                    <img src="~/Content/Images/nty.png" style="height: 50px; width: 50px">
                    Notifications
                </h4>
            </div>
            <div class="modal-body" id="myAllNotifications">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            type="text/javascript"></script>*@

<script type="text/javascript">


    $(document).ready(function () {
        setInterval(function () {
            UpdateNotifications();
        }, 3000);
    });

    function UpdateNotifications() {
        $.ajax({
            type: "GET",
            url: "/Home/GetNotifications",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                console.log(response);
                if (response != null) {

                    var j = ""; var p = 0; var Q = "";
                    $.each(response, function (k, v) {
                        p++;
                        if (p < 6) {
                            j += "<li><a><img src='../Content/Images/nty.png' style='height:20px;width:20px'/> <strong>  " + v.Notification.toString() +
                                " </strong> <br /> <div style='text-align:right;font-size:smaller;font-style:italic'> <i style='font-size:smaller'> updated : " + v.LastUpdated.toString() + "</i></div></a></li>";
                        }
                        Q += "<a><img src='../Content/Images/nty.png' style='height:20px;width:20px'/> <strong>  " + v.Notification.toString() +
                            " </strong> <br /> <div style='text-align:right;font-size:smaller;font-style:italic'> <i style='font-size:smaller'> updated : " + v.LastUpdated.toString() + "</i></div></a>";
                    });
                    $('#myNotifyList').html("");
                    j += "<li><a data-toggle='modal' data-target='#notificationsModal'><div style='text-align:center'><strong> Show more </strong></div></li>";
                    $('#myNotifyList').append(j);
                    $('#countNotify').html("<span>" + p + "</span>");
                    $('#myAllNotifications').html("");
                    $('#myAllNotifications').append(Q);
                }
            },
            failure: function (response) {
                alert(response.d);
            }
        });
    }

</script>

@if (User.IsInRole(UserRoles.Patient.ToString()))
{
<li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, new { })</li>
                <li>@*@Html.ActionLink("Doctors", "Index", "Patient", new { Area = "" }, new { })*@</li>
                                <li>@Html.ActionLink("Appointments List", "Appointments", "Patient", new { Area = "" }, new { })</li>
 <li>@Html.ActionLink("Appointments Calendar", "Index", "AppointmentsCalendar", new { Area = "" }, new { })</li>
                 <li>@Html.ActionLink("Book Appointment", "Index", "Patient", new { Area = "" }, new { })</li>
                                 <li>@Html.ActionLink("Vital Readings", "HeartRate", "Patient", new { Area = "" }, new { })</li>
                                                 <li>@Html.ActionLink("Join Video Conference", "JoinVideoConference", "Patient", new { Area = "" }, new { })</li>

   <li class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown"> Notifiction (<span id="countNotify">0</span>) <span class="caret"></span></a>
       <ul class="dropdown-menu" id="myNotifyList">
       </ul>
   </li>}
